# Meer pandas!

In dit notebook gaan we nog veel meer doen met de pandas package van python!

In [1]:
import pandas as pd

### data inlezen

Laten we eerst de zoo_animals.csv eens inlezen als een dataframe

### hoeveel data hebben we eigenlijk?
Bekijk voor elke kolom hoeveel datapunten er zijn

## Wat zijn de types van de data?
print een overzicht van de types van elke kolom

### Welke dierentuinen hebben we?
print een overzicht van de unieke dierentuinen en hoe vaak ze voorkomen

# Overzicht als diagram
Print nu nogmaals de unieke dierentuinen, maar geef ze weer als een diagram. Bedenk zelf welke vorm van visualisatie het meest geschikt is.

# Hoe zit dat met de andere kolommen?
Geef nu voor elke andere kolom een overzicht van de unieke waardes. Bepaal zelf welke vorm van visualisatie hier het meest geschikt voor is. Bij voorkeur als een diagram.

### Rekenen met pandas
Bereken nu de gemiddelde leeftijd van alle dieren

Oke, nu de minimale en maximale leeftijden.

Oke, en probeer nu al de bovenstaande in een enkele regel t edoen, als je dit nog niet had gedaan

Als je dit nog niet eerder had gedaan, maak dan een box plot van deze data. Wat zie je hier in?

### Alleen voor specifieke dieren
Bereken nu dezelfde waardes als voor de age, maar dan voor de gewicht kolom, specifiek alleen voor de dieren uit de Melbourne Zoo

### Nog meer filteren
print nu een overzicht van alleen de namen van alle dieren die kleiner dan 1 meter zijn. Let op dat we hier op zoek zijn naar de unieke namen

# groeperen
Geef nu een overzicht van de maximale leeftijd per dier, gebruik hiervoor de `.group()` methode.

### Groeperen, vervolg
We zijn vaak niet op zoek naar de individuele datapunten, maar we willen vaak iets zetten over bepaalde groepen in de data. Probeer alle data eens te groeperen per dierentuin. Denk zelf goed na over wat een goede manier is om de data te groeperen tot een enkel getal.

# **Bonus:** Corrupted data
Probeer nu alle stappen te herhalen op de corrupted versie van de dataset in `zoo_animals_corrupted.csv`. Probeer dit eerst zonder het bestand te openen. Kijk of je alle problemen op kan lossen en denk na over wat je wil doen met de data die niet klopt. Kan je het oplossen? of moet je de data weggooien.