# Voorspellende modellen toepassen!
In dit notebook gaan we wat voorspellende modellen toepassen op data.

In [4]:
import pandas as pd
import random

### data preparatie

Dit onderste deel is al behandeld in eerdere notebooks (sessie 4), we laden hier alleen de dataset in, hij is al opgeschoond en van het juiste type.

In [2]:
df = pd.read_csv("zoo_animals.csv")
df.head()

  animal_name  age  height  weight   zoo_location
0        Wolf    2    1.23      36      Bronx Zoo
1        Wolf   19    1.07      30     Berlin Zoo
2    Kangaroo   25    1.39      88  San Diego Zoo
3       Rhino   61    3.31    2179      Tokyo Zoo
4    Flamingo    2    1.32       3     Berlin Zoo

ik voeg nu een extra kolom toe met een binaire waarde, zodat we die kunnen voorspellen met een model die een binaire waarde nodig heeft.

In [18]:
df["gender"] = [random.randint(0,1) for _ in range(len(df))]
df["gender"].value_counts()

gender
1    28
0    22
Name: count, dtype: int64

# Modellen trainen
Ik weet op het moment van schrijven nog niet welk model we gaan trainen, dit bepalen we gedurende de sessie.